body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  margin-bottom: 20px;
}

h1 {
  color: rgb(32, 33, 36);
  display: block;
  font-size: 26px;
  font-weight: 100;
  line-height: 25px;
  text-align: left;
  margin-bottom: 10px;
}
ul {
  padding: 0;
}
li {
  color: rgba(32, 33, 36, 0.7);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
footer {
  text-align: center;
  font-size: 12px;
}
.weather-app {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #dadde1;
  border-radius: 8px;
}
.weather-temperature img {
  margin-right: 5px;
  width: 64px;
  height: 64px;
}
.weather-description {
  text-align: right;
}
#temperature {
  color: rgb(32, 33, 36);
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
}
#units {
  position: relative;
  top: -34px;
}
#description {
  text-transform: capitalize;
  text-align: center;
}
