body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: rgb(32, 33, 36);
  display: block;
  font-size: 35px;
  font-weight: 100;
  line-height: 32px;
  text-align: left;
  margin-bottom: 10px;
}
ul {
  padding: 0;
}
li {
  color: rgba(32, 33, 36, 0.7);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
footer {
  text-align: center;
  font-size: 12px;
}
.day {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  background-attachment: fixed;
}
.night {
  background: linear-gradient(to bottom, #09203f 0%, #537895 100%);
  background-attachment: fixed;
}
.night-text {
  color: white;
}
.weather-app {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #dadde1;
  border-radius: 8px;
  box-shadow: rgba(37, 39, 89, 0.09) 0px 5px 10px 0;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 80.1%
  );
}
.weather-temperature img {
  margin-right: 5px;
  width: 64px;
  height: 64px;
}
.weather-temperature .active {
  color: rgb(32, 33, 36);
  cursor: default;
}
.weather-description {
  text-align: right;
}
.weather-forecast {
  text-align: center;
}
.forecast-day {
  font-size: 13px;
}
.forecast-temperature {
  font-size: 12px;
}
.max-temp {
  font-weight: bold;
}
#temperature {
  color: rgb(32, 33, 36);
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
}
#units {
  position: relative;
  top: -34px;
}
#description {
  text-transform: capitalize;
  text-align: center;
}
